.sidebar{
  width:180px;
  height: 100vh;
background: #505050;
  position: fixed;
  img{
    width:100%;
  }
 &_links-collection{

   display: flex;
   flex-direction: column;
   align-items: center;
   padding:1.5rem;
   &_link-item{
       width:150px;

     padding: 0.5rem;
     margin: 15px;
     border-radius: 5px;
     text-align: center;
     &:hover{
       background: white;
       a{
         color: black;
       }
     }
     a{
       text-decoration: none;
       color:whitesmoke;
       font-family: 'Homenaje', sans-serif;
       font-size: 22px;
     }
   }

 }


}