.csl-section{
  width: 100%;
  background: #5c5c75;
  display: flex;
  justify-content: space-around;

&_csl-cards {
  width: 250px;
  height: 250px;
  background: whitesmoke;
  position: relative;

  &_slanted-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    letter-spacing: 4px;
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
    a{
      text-decoration: none;
      color: #262525;
    }

    &:hover {
      cursor: pointer;
      color: purple;
    }
  }

}


}